[Unit]
Description=JEVis Worker
After=network.target jevis.service

[Service]
Type=simple
User=jevis
Group=jevis
ExecStart=/opt/jevis/deploy/worker.sh
Restart=always
RestartSec=15
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
